.main-container {
  display: flex;
  height: 100vh; /* Make the main container take the full height of the viewport */
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.stat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stat-header .MuiTypography-root {
  margin-right: 10px; /* Adjust spacing as needed */
}

.stat-header .MuiCheckbox-root {
  margin-left: auto;
}

.stat-value {
  text-align: center;
  margin-top: 5px; /* Adjust spacing as needed */
}

.stat-center {
display: flex;
justify-content: center; /* Center content horizontally */
}

.right{
    display:  flexbox;
    min-width: 50vw;
}

.top-container {
    display: flex;
    justify-content: space-between; /* Distribute space between the items */
}

.coreinfo {
    display: flex;
    align-items: flex-end; /* Align items to the right */
    gap: 1em;
    outline: #646cffaa 1px solid;
    min-width: 10rem;
    flex: 1;
    padding-right: 10px;
}

.conditions {
    display: flex;
    flex: 2;
    gap: 1em;
    outline: #646cffaa 1px solid;
    padding-left: 10px;
}

.CharacterPannel {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border: 1px solid #646cffaa; /* Optional: add a border for visual separation */
    min-height: 480px;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 1em;
    outline: #646cffaa 1px solid;
    padding: 10px;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it is above other elements */
}

.shield-container {
  position: relative;
  width: 95px;
  height: 95px;
}

.shield-image {
  width: 100%;
  height: 100%;
}

.ac-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust the color as needed */
  font-size: 1.2rem; /* Adjust the font size as needed */
  text-align: center;
}